<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>{% block title %}{% endblock %}</title>
    <style>
        table {
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid black;
            padding: 5px;
            text-align: center;
        }

        th {
            background-color: #ddd;
        }
    </style>

<body>
    {% block content %}{% endblock %}
</body>

</html>